
		<form [formGroup]="form">
        <h1>Base converter</h1>
        <div class="example-full-width">decimal
            <input type="text" name="decimal" (ngModelChange)="decimalChanged($event)"
              formControlName="decimal">
          </div>

         <div class="example-full-width">binary
            <input type="text" name="binary" (ngModelChange)="binaryChanged($event)"
              formControlName="binary">
          </div>

         <div class="example-full-width">octal
            <input type="text" name="octal" (ngModelChange)="octalChanged($event)"
              formControlName="octal">
          </div>

         <div class="example-full-width">hexa
            <input type="text" name="hexa" (ngModelChange)="hexaChanged($event)"
              formControlName="hexa">
          </div>
     </form>

<div class="tbl">
     <table id="customers">
        <tr>
          <th>name</th>
          <th>weight</th>
          <th>symbol</th>
        </tr>
        <tr *ngFor="let i of ELEMENT_DATA">
          <td>{{i.name}}</td>
          <td>{{i.weight}}</td>
          <td>{{i.symbol}}</td>
        </tr>
      </table>
    </div>
