
		<form [formGroup]="form">
        <h1>Base converter</h1>
        <mat-form-field class="example-full-width">
            <input matInput type="text" name="decimal" (ngModelChange)="decimalChanged($event)" placeholder="decimal"
              formControlName="decimal">
          </mat-form-field>

        <!-- <br> -->
         <mat-form-field class="example-full-width">
            <input matInput type="text" name="binary" (ngModelChange)="binaryChanged($event)" placeholder="binary"
              formControlName="binary">
          </mat-form-field>
        <!-- <br> -->
   
         <mat-form-field class="example-full-width">
            <input matInput type="text" name="octal" (ngModelChange)="octalChanged($event)" placeholder="octal"
              formControlName="octal">
          </mat-form-field>
        <!-- <br> -->

         <mat-form-field class="example-full-width">
            <input matInput type="text" name="hexa" (ngModelChange)="hexaChanged($event)" placeholder="hexa"
              formControlName="hexa">
          </mat-form-field>
     </form>

<div class="tbl">
     <table id="customers">
        <tr>
          <th>name</th>
          <th>weight</th>
          <th>symbol</th>
        </tr>
        <tr *ngFor="let i of ELEMENT_DATA">
          <td>{{i.name}}</td>
          <td>{{i.weight}}</td>
          <td>{{i.symbol}}</td>
        </tr>
      </table>
    </div>