<!-- Random number generato -->
<div class="back">
  <h2> Random number generator</h2>
  <span>Amount of numbers to be generated </span>
  <mat-form-field class="example-full-width">
    <input matInput type="number" name="hexavx" [(ngModel)]="entries">
  </mat-form-field>
  <span>Numbers from: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="number" name="hexavdvfx" [(ngModel)]="noFrom">
  </mat-form-field>
  <span>Numbers to: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="number" name="hexavdvfx" [(ngModel)]="noTo" (blur)="randomNo()">
  </mat-form-field>
  <span>Output: </span>
  <input type="text" id="myInput" [(ngModel)]="noOutput" disabled>
  <!-- <div class="tooltip">
    <button (click)="copyData()" (mouseout)="outFunc()">
      <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
      Copy text
      </button>
</div> -->

</div>

<!-- Random string generator -->
<div id="top">
  <h2> Random string generator</h2>
  <span> Allowed chars: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="hexazdvx" [(ngModel)]="textEntriesString">
  </mat-form-field>
  <span>Number of strings: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="hexafsvx" [(ngModel)]="noofSTr">
  </mat-form-field>
  <span>Length: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="hexavvx" [(ngModel)]="lenStr" (blur)="generateText()">
  </mat-form-field>
  <span> Output:</span>
  <input type="text" id="myInput" [(ngModel)]="finalStr" disabled>
</div>

<!-- Shuffle letters -->
<div class="back">
  <h2>Shuffle letters</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="1" [(ngModel)]="shuffledata" (blur)="shufflWords()">
  </mat-form-field>
  <span> Output: </span>
  <input type="text" name="" id="" [(ngModel)]="finalShuffling" disabled>
</div>



<!-- Compress text online encrypt/decrypt -->
<!-- <div>
  <h2>Compress text online</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="2" [(ngModel)]="myString">
  </mat-form-field>
  <span>Convert: </span>
  <mat-form-field style="margin-left:10px">
      <mat-select placeholder="Select">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <br>
  <span>Output: </span>
</div> -->

<!-- Text statistics -->
<div>
  <h2>Text statistics generator</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="3" [(ngModel)]="textData" (blur)="WordsStatistics()">
  </mat-form-field>
  <span>Output: </span>
  <br>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="finalObj"></textarea>

  <!-- Array
(
    [0] => xsx
)

Length: 3 characters
Length witout white-space: 3 characters
Lines: 1
Words: 1
Sentences: 1
Unique words: 1
Unique words(%): 100%
Length of shortest word: 3 characters
Length of longest word: 3 characters
Avg. word length: 3
Avg. words per line: 1
Avg. words per sentence: 1     -->

</div>

<!-- Remove line breaks  -->
<div class="back">
  <h2>Remove line breaks online</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
      <textarea matInput name="" id="" cols="30" rows="5" id="" [(ngModel)]="someText" (blur)="removeLinebreaks()"></textarea>
    </mat-form-field>
  <span>Output:</span>
  <br>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="updatedText"></textarea>
</div>

<!-- Replace text online -->
<div>
  <h2>Replace text online</h2>
  <span>Input data: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="phrase" name="phrase">
  </mat-form-field>
  <span>Find text: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="findPhrase" name="ph">
  </mat-form-field>
  <span>Replace with: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="replacePhrase" name="phr">
  </mat-form-field>
  <input type="text" name="" id="" [(ngModel)]="finalPhrase" disabled>
  <button (click)="replaceText()">Replace</button>
</div>

<!-- Count characters -->
<div class="back">
  <h2>Count characters</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="exampleString" name="sfd" (blur)="countChars()">
  </mat-form-field>
  <span>Output:</span>
  <br>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="finalop"></textarea>
  <!-- c: 1
d: 3
f: 1
s: 1 -->
</div>

<!-- Count text entries -->
<div>
  <h2>Count text entries</h2>
  <div>
    <span>Input: </span>
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="sampEntries" name="" id="">
    </mat-form-field>
  </div>
  <div>
    <span>Find text: </span>
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="texttofind" (blur)="textEntries()">
    </mat-form-field>
  </div>
  <div>
    <span>Output:</span>
    <br>
    <textarea name="" id="" cols="30" rows="10" [(ngModel)]="finalValue"></textarea>
  </div>
</div>

<!-- Barcode generator -->
<!-- <div>
  <h2>Barcode generator</h2>
  <span>Input data: </span>
  <mat-form-field class="example-full-width">
    <textarea matInput name="" id="" cols="30" rows="5" id="" placeholder="bc-value" [(ngModel)]="value"></textarea>
  </mat-form-field>
  <mat-form-field style="margin-left:10px">
    <mat-select placeholder="bc-element-type" [(ngModel)]="elementType">
      <mat-option *ngFor="let food of foods2" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left:10px">
    <mat-select placeholder="bc-format" [(ngModel)]="format">
      <mat-option *ngFor="let code of codeList" [value]="code">
        {{code}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-line-color" [(ngModel)]="lineColor">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-width" [(ngModel)]="width">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="bc-height" [(ngModel)]="height">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-font-options" [(ngModel)]="fontOptions">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="bc-font" [(ngModel)]="font">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-text-align" [(ngModel)]="textAlign">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-text-position" [(ngModel)]="textPosition">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-text-margin" [(ngModel)]="textMargin">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-font-size" [(ngModel)]="fontSize">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="bc-background" [(ngModel)]="background">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="bc-margin" [(ngModel)]="margin">
  </mat-form-field>
  <mat-checkbox class="example-margin" [(ngModel)]="displayValue">bc-display-value</mat-checkbox>

  <br>
  <span>Output:</span>
  <div fxLayout="column">
    <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue"
      [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height"
      [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font" [bc-text-align]="textAlign"
      [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize"
      [bc-background]="background" [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom"
      [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
  </div>
</div> -->