<!-- <input type="text" [(ngModel)]="cityName" name="city">
<button (click)="details()">get details</button> -->
<h3>Conversion of Temperature - Celsius to Fahrenheit and vice-versa</h3>

<div class="example-full-width">  
  <input matInput type="text" name="celsius" (ngModelChange)="celsiusChanged($event)" placeholder="Celsius (°C)	"
     [(ngModel)]="cels"> 
</div>
<div class="example-full-width">
  <input matInput type="text" name="fahrenheit" (ngModelChange)="fahrChanged( $event)" placeholder="Fahrenheit (°F)	"
     [(ngModel)]="fahr">
</div>