
<div class="back">
  <h2> Random number generator</h2>
  <span>Amount of numbers to be generated </span>
  <mat-form-field class="example-full-width">
    <input matInput type="number" name="hexavx" [(ngModel)]="entries">
  </mat-form-field>
  <span>Numbers from: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="number" name="hexavdvfx" [(ngModel)]="noFrom">
  </mat-form-field>
  <span>Numbers to: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="number" name="hexavdvfx" [(ngModel)]="noTo" (blur)="randomNo()">
  </mat-form-field>
  <span>Output: </span>
  <input type="text" id="myInput" [(ngModel)]="noOutput" disabled>
  <div class="tooltip">
    <button (click)="copyData()" (mouseout)="outFunc()">
      <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
      Copy text
      </button>
</div>

</div>

<div id="top">
  <h2> Random string generator</h2>
  <span> Allowed chars: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="hexazdvx" [(ngModel)]="textEntriesString">
  </mat-form-field>
  <span>Number of strings: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="hexafsvx" [(ngModel)]="noofSTr">
  </mat-form-field>
  <span>Length: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="hexavvx" [(ngModel)]="lenStr" (blur)="generateText()">
  </mat-form-field>
  <span> Output:</span>
  <input type="text" id="myInput" [(ngModel)]="finalStr" disabled>
</div>

<div class="back">
  <h2>Shuffle letters</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="1" [(ngModel)]="shuffledata" (blur)="shufflWords()">
  </mat-form-field>
  <span> Output: </span>
  <input type="text" name="" id="" [(ngModel)]="finalShuffling" disabled>
</div>

<div id="top">
  <h2>Compress text online encrypt/decrypt</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="2" [(ngModel)]="myString">
  </mat-form-field>
  <span>Convert: </span>
  <mat-form-field style="margin-left:10px">
      <mat-select placeholder="Select">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <br>
  <span>Output: </span>
</div>

<div class="back">
  <h2>Text statistics generator</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" name="3" [(ngModel)]="textData" (blur)="WordsStatistics()">
  </mat-form-field>
  <span>Output: </span>
  <br>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="finalObj"></textarea>
</div>

<div id="top">
  <h2>Remove line breaks online</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
      <textarea matInput name="" id="" cols="30" rows="5" id="" [(ngModel)]="someText" (blur)="removeLinebreaks()"></textarea>
    </mat-form-field>
  <span>Output:</span>
  <br>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="updatedText"></textarea>
</div>

<div class="back">
  <h2>Replace text online</h2>
  <span>Input data: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="phrase" name="phrase">
  </mat-form-field>
  <span>Find text: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="findPhrase" name="ph">
  </mat-form-field>
  <span>Replace with: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="replacePhrase" name="phr">
  </mat-form-field>
  <input type="text" name="" id="" [(ngModel)]="finalPhrase" disabled>
  <button (click)="replaceText()">Replace</button>
</div>

<div id="top">
  <h2>Count characters</h2>
  <span>Input: </span>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="exampleString" name="sfd" (blur)="countChars()">
  </mat-form-field>
  <span>Output:</span>
  <br>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="finalop"></textarea>

</div>
  <!-- c: 1
d: 3
f: 1
s: 1 -->
<div class="back">
  <h2>Count text entries</h2>
  <div>
    <span>Input: </span>
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="sampEntries" name="" id="">
    </mat-form-field>
  </div>
  <div>
    <span>Find text: </span>
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="texttofind" (blur)="textEntries()">
    </mat-form-field>
  </div>
  <div>
    <span>Output:</span>
    <br>
    <textarea name="" id="" cols="30" rows="10" [(ngModel)]="finalValue"></textarea>
  </div>
</div>


