
<nav [ngClass]="'parent-menu'" id="navData">
  <ul>
    <li>
      <a routerLink="/convertentries" routerLinkActive="active">Text tools</a>
    </li>
    <li>
      <a routerLink="/landunits" routerLinkActive="active">Land measurements</a>
    </li>

    <li>
      <a routerLink="/digit" routerLinkActive="active">Digits Converter</a>
    </li>
    <li>
      <a routerLink="/currency" routerLinkActive="active">currency converter</a>
    </li>
    <li><a routerLink="/techunits" routerLinkActive="active">Tech units</a></li>
    <li>
      <a routerLink="/temperature" routerLinkActive="active">Temperature</a>
	</li>
	<li>
		<a routerLink="/weight" routerLinkActive="active">Weight Convertor</a>
    </li>
    <li>
      <a routerLink="/calculator" routerLinkActive="active">Calculator</a>
      </li>
      <li>
        <a routerLink="/essayWriter" routerLinkActive="active">Essay writer</a>
        </li>
        <li>
          <a routerLink="/todoList" routerLinkActive="active">To do Notes</a>
          </li>
        <li>
          <a routerLink="/chatBot" routerLinkActive="active">Contact</a>
          </li>
  </ul>
</nav>

<div [ngClass]="'parent-container'">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="footer">
  <div class="dfg">
    <span>For any suggestions-</span>
    <p>Email me: softwaredeveloper321@protonmail.com</p>
  </div>
</footer> -->
