
  <form [formGroup]="form">
    <div class="example-full-width">Terabyte (TB)
      <input  type="text" name="terab" (ngModelChange)="teraChanged($event)"
        formControlName="terab">
    </div>
    <div class="example-full-width">Gigabyte (GB)
      <input  type="text" name="gigab" (ngModelChange)="gigaChanged($event)"
        formControlName="gigab">
    </div>
    <div class="example-full-width">Megabyte (MB)
      <input  type="text" name="megab" (ngModelChange)="magaChanged($event)"
        formControlName="megab">
    </div>
    <div class="example-full-width">Kilobyte (KB)
      <input  type="text" name="kilob" (ngModelChange)="kiloChanged($event)"
        formControlName="kilob">
    </div>
    <div class="example-full-width">Byte (B)
      <input  type="text" name="byt" (ngModelChange)="bytChanged($event)"
        formControlName="byt">
    </div>
    <div class="example-full-width">Bit (b)
      <input  type="text" name="bit" (ngModelChange)="bitChanged($event)"
        formControlName="bit">
    </div>
  </form>


<div class="tbl">
  <table id="customers">
    <tr>
      <th>name</th>
      <th>weight</th>
      <th>symbol</th>
    </tr>
    <tr *ngFor="let i of ELEMENT_DATA">
      <td>{{i.name}}</td>
      <td>{{i.weight}}</td>
      <td>{{i.symbol}}</td>
    </tr>
  </table>
</div>
