<div class="main-head">
  <div>
    <span>  Directions</span>
      Read the question below. You have 30 minutes to
      plan, write, and revise your essay. Typically an
      effective response will contain a minimum of 300
      words
  </div>
  <div>
     <span> Question</span>
      Question: Do you agree or disagree with the following
      statement? Always telling the truth is the most important
      consideration in any relationship between people. Use
      specific reasons and examples to support your answer
  </div>
  <div>
    <div>
      <button>Cut</button>
      <button>Paste</button>
      <button>Undo</button>
<span>Word count</span>
<span>5</span>
<button>hide</button>
    </div>
    <div></div>
  </div>
</div>